@model School_Management_System.ViewModel.CourseViewModel
@{
    ViewData["Title"] = "Create";
    SelectList teacherOptions = new SelectList(ViewBag.Teachers, "TeacherID", "Name");
    SelectList deptOptions = new SelectList(ViewBag.Departments, "DepartmentID", "Name");


}

<h2 class="mb-4">➕ Add New Course</h2>

<form method="post" asp-action="Save" asp-controller="Courses">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="mb-3">
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input class="form form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input class="form form-control" asp-for="Description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <label asp-for="TeacherId"></label>
                <select class="form form-control" asp-for="TeacherId" asp-items="teacherOptions">
                    <option value="">--Select Teacher--</option>
                </select>
                <span asp-validation-for="TeacherId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DepartmentId"></label>
                <select class="form form-control" asp-for="DepartmentId" asp-items="deptOptions">
                    <option value="">--Select Department--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>



            <button type="submit" class="btn btn-success">Create</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

<!--client side!-->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
